.tc_fsfs{
    width: 7rem;
    height: 5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.btncs{
    width: 5rem;
    height: 1.5rem;
    background-color: #ea142b;
    border-radius: 0.5rem;
    font-size: 125%;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    font-weight: bold;
}

.tc_fsfs>div.bxf1{
    font-size: 133%;
    text-align: center;
    color: #b0b0b0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

img{
    display: block;
    width: 100%;
    border: none;
}

.fuc1{
    background-image: url("../yiwuyima/20180428163544.jpg");
    background-size: 100% 100%;
}